@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900|Montserrat:300,300i,400,400i,500,500i,700,700i|Open+Sans:300,400,400i,700&display=swap');
:root{
    /** */
    --fuenteOpensans:'Open Sans', sans-serif;
    /** Colores */
    --grisClaro:#f2f2f2;
    --grisobscuro:#c1c1c1;
    --grisTexto:#17202A;
    --grisRespuestas:#2C3E50;
    --naranja:#ef4c44;
    --botonNaranja:#d91c5c;
    --verde:#84b34a;
    --botonMorado:#7d4f9d;
    --morado:#7d4f9d;
    --amarilloClaro:#f7ca39;
    --amarilloF:#f2991f;
    --botonMagenta:#e02e70;
    --rojoma:#A93439;
}
body{
    font-family: var(--fuenteMontserrat);
    font-size: 1.2rem;
    line-height: 2;
    background-color: var(--grisClaro);
}
.container {
    padding-top:8%;
}
.card .card-body {
    background-color: transparent;
    padding-left: 40%;
}
#btnAction {
    margin-top:2rem;
    font-family: var(--fuenteOpensans);
    background-color: var(--amarilloF);
    width: 200px;
    color:var(--grisClaro);
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius:15px;
}
#btnAction i{
    font-size: 4rem;
}
#btnAction:hover {
    color:var(--grisClaro);
    background-color: #D01D36;
}
.menu   {
    background-color: #D01D36;
    color: white;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    width: 100%;
    font-size: 10px;
}
.menu a {
    color: white;
}
#logoMajestic {
    width: 90px;
}
.navbar-brand:hover {
    color: white;
}
footer{
    height: 160px;
    width: 100%;
    position:inherit ;
    margin-bottom: 0px;
    font-family: var(--fuenteMontserrat);
    color:var(--blanco);
    font-size: 1.2rem;
    font-weight: 300;
    background-color: #D01D36;
    margin-top: 10%;
}
h2{
    color: #D01D36;
}